html {
  overflow: scroll;
  /* Remove scrollbar space */
  overflow-x: hidden;
  /* Remove scrollbar space */
  height: 90%
}

body {
  background-color: #eee;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}


ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  background-color: #fff;
}

#root {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  flex: 2;
  background-color: #fff;
  margin: 0;
  height: 95vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.formSearch {
  background-color: #eee;
  width: 200px;
  border: none;
  height: 36px;
  border-radius: 8px;
  display: inline;
  margin-right: 5px;
}

li {
  list-style: none;
}

.searchIcon {
  color: #aaa;
  vertical-align: text-bottom;
  margin: 0 10px 0 -20px;
  padding: 0;
}

input.search:focus-visible {
  outline: none;
  color: #222;
}

.search {
  background-color: #eee;
  border: none;
  height: 30px;
  border-radius: 8px;
  display: inline;
  color: #222;
}

.newForm {
  display: inline;
}

.detail {
  flex: 8;
  padding: 0;
  background-color: #eee;
  margin: 0;
  margin-top: 2em;
  width: 600px;
}

/* Contact Page */

.avatar {
  margin-left: 3em;
}

.avatar>img {
  border-radius: 24px;
}

.contactRight {
  margin-left: 2em;
}

.contact {
  display: flex;
  margin-left: 2em;
  margin-top: 4em;
}

.contactTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.favoriteForm {
  display: inline;
}

.favorite {
  /* width: 0px; */
  font-size: 1.5rem;
  margin: 0px;
  /* height: 0px; */
  padding: 0;
  text-align: center;
  background-color: #eee;
  color: #991;
  border-radius: 0px;
  align-content: center;
}

.twitter {
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0;
  text-align: left;
}

.notes {
  color: black;
  font-size: 1.1rem;
  text-align: left;
  margin: 20px 0;
}

.formEdit {
  display: inline;
  margin: 0 10px 0 0;
}

.formDelete {
  display: inline;
}


.button {
  background-color: #eee;
  border: solid 1px #aaa;
  color: #222;
  box-shadow: #aaa .5px .5px .5px .5px;
}

.contactButtons {
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* EditContactPage */
.contactForm {
  width: 600px;
}

.row {
  display: flex;
}

input {
  height: 30px;
  border-radius: 8px;
}

.label {
  height: 30px;
  /* padding: 8px 0; */
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1rem;
}

.names {
  flex: 8;
  display: flex;
}

.firstName {
  margin-right: 1em;
  flex: 5;
}

.lastName {
  flex: 5;
}

.twitter {
  width: 100%;
  font-size: 1rem;
}

textarea {
  width: 100%;
}

.editContactPageButtons {
  margin-left: 3em;
}

.editContactPgeSubmit {
  margin-right: 10px;
}

/* Suppress the toast on tinyMCE */
.tox-notification.tox-notification--in.tox-notification--warning {
  display: none;
}