.underline {
    height: 1px;
    background-color: #333;
    margin: 1em 0;
    width: 100vw;
}

.newForm {
    display: inline;
}

.row {
    display: flex;
}

.isSmallScreenSize {
    width: 90%;
    margin: auto;
}

.dateSection {
    display: flex;
    align-items: flex-start; 
}

.filters {
    display: flex;
}

.filtersSmall {
    flex-direction: column;
}

.labelButtonSmall {
    height: 48px;
}

.labelButton {
    align-self: flex-end;
    margin-bottom: 12px;
}

.inputSmall {
    width: 100%;
}