.underline {
    height: 1px;
    background-color: #333;
    margin: 1em 0;
    width: 100vw;
}

.newForm {
    display: inline;
}

.row {
    display: flex;
}

.isSmallScreenSize {
    width: 90%;
    margin: auto;
}