.trashButton {
    margin-left: 1em;
    background-color: #FF2E2E;
}
.trashButton:hover {
    background-color: #FF7979;
}

.form {
    display: flex;
    flex-direction: column;
}
.smallForm {
    width: 100vw;
}

.title {
    background-color: #fcfdff;
    border: none;
    width: 80%;
    border-radius: 0;
    margin: 0 10px;
}

/* @TODO: probably do more of this across the entire app */
@media (prefers-color-scheme: dark) {
    .title {
        background-color: #272E3F;
    }
  }

.select {
    width: 80%;
    margin: 0 10px;
}
.smallSelect {
    margin: 10px;
}
.largeSelect {
    width: 200px;
}

/* @TODO: Look into abstracting this out */
.input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.input:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}