.submit {
  -moz-box-shadow: inset 0px 1px 0px 0px #DC9300;
  -webkit-box-shadow: inset 0px 1px 0px 0px #DC9300;
  box-shadow: inset 0px 1px 0px 0px #FFBE3C;
  background-color: #FFB011;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
}

.submit:hover {
  background: linear-gradient(to bottom, #FFCB62 5%, #DC9300 100%);
  background-color: #FFCB62;
}