.submit {
  -moz-box-shadow: inset 0px 1px 0px 0px #008484;
  -webkit-box-shadow: inset 0px 1px 0px 0px #008484;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  display: inline;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
}

.submit:hover {
  background: linear-gradient(to bottom, #4ECCCC 5%, #7DE0E0 100%);
  background-color: #4ECCCC;
}