.buttonAdd,
.buttonAdd:hover {
  background-color: #FF8D2E;
  color: white;
  border: none;
  text-decoration: none;
  width: 45px;
  height: 40px;
  margin: 4px 5px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0;
}

.buttonAdd:hover {
  background-color: #FF7400;
}
