.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	/* This is better for small screens, once min() is better supported */
	/* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
	grid-gap: 10px;
	width: 90%;
}

.content {
	-moz-box-shadow: inset 0px 1px 0px 0px #DFD6C6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #DFD6C6;
	box-shadow: inset 0px 1px 0px 0px #DFD6C6;
	background-color: #FFFBF2;
	border: 1px solid #DFD6C6;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
}

.content:hover {
	background: linear-gradient(to bottom, #9EA6A6 5%, #9EA6A6 100%);
	background-color: #9EA6A6;
	color: white;
}

.time {
	width: 100%;
}