
.gridContainer {
    margin: auto;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    grid-gap: 4px;
    width: 100%;
    flex-wrap: wrap;
}

.contentOutline {
    background-color: #FFFBF2;
    border: .1px solid #DFD6C6;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    width: 10px;
    height: 10px;
    text-decoration: none;
}

.darkestGreen {
    background-color: #533CD2;
}

.darkGreen {
    background-color: #3e80ed;
}
.medGreen {
    background-color: #45D6D6;
}

.red {
    background-color: #FF7979;
}

.hoverTitle li {
    font-size: 8px;
}