body {
  background-color: #eee;
  font-size: 14px;
}

#root {
  text-align: center;
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  flex: 2;
  background-color: #aaa;
  margin: 0;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.formSearch {
  background-color: #eee;
  width: 200px;
  border: none;
  height: 36px;
  border-radius: 8px;
  display: inline;
  margin-right: 5px;
}

li {
  text-align: justify;
  list-style: none;
}

.searchIcon {
  color: #aaa;
  vertical-align: text-bottom;
  margin: 0 10px 0 -20px;
  padding: 0;
}


input.search:focus-visible {
  outline: none;
  color: #222;
}


.search {
  background-color: #eee;
  border: none;
  height: 30px;
  border-radius: 8px;
  display: inline;

}

.newForm {
  display: inline;
}

.detail {
  flex: 8;
  padding: 0;
  background-color: #eee;
  margin: 0;
  margin-top: 2em;
}

/* Contact Page */

.avatar {
  margin-left: 3em;
}

.avatar>img {
  border-radius: 24px;
}

.contactRight {
  margin-left: 2em;
}

.contact {
  display: flex;
  margin-left: 2em;
  margin-top: 4em;
}

.contactTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.favoriteForm {
  display: inline;
}

.favorite {
  /* width: 0px; */
  font-size: 1.5rem;
  margin: 0px;
  /* height: 0px; */
  padding: 0;
  text-align: center;
  background-color: #eee;
  color: #991;
  border-radius: 0px;
  align-content: center;
}

.twitter {
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0;
  text-align: left;
}

.notes {
  color: black;
  font-size: 1.1rem;
  text-align: left;
  margin: 20px 0;
}

.formEdit {
  display: inline;
  margin: 0 10px 0 0;
}

.formDelete {
  display: inline;
}

.button {
  background-color: #eee;
  border: solid 1px #aaa;
  color: #222;
  box-shadow: #aaa .5px .5px .5px .5px;
}

.contactButtons {
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}